@using Kibiriukas.Models
@model DeleteCategoryViewModel
@{
    ViewBag.Title = "DeleteCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteCategory</h2>

<div class="row">
    <div class="col-md-8">
        <section class="categoryRemoveForm">
            @using (Html.BeginForm("DeleteCategory", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.CategoryTitle, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.CategoryTitle, new { @class = "form-control" })
                    </div>
                </div>
                <button class="submitButton" type="submit"><span class="buttonPrettifier"></span><p>Delete</p></button>
            }
        </section>
    </div>
</div>

