
@using Kibiriukas.Models
@model Kibiriukas.ViewModels.CategoryCollectionViewModel
   
@{
    ViewBag.Title = "Kategorijos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<content>
    <h1>@ViewBag.Title</h1>

    <table class="table table-striped">
        <thead class="categoryTableHeader">
        @foreach (Category category in Model.CategoryList)
        {
            <tr>
                <th>@Html.ActionLink(category.CategoryTitle, "Details", "Category", new { id = category.CategoryTitle }, null)</th>

                @foreach (Subcategory subcategory in category.Subcategories)
                {
                    <td>@Html.ActionLink(subcategory.SubcategoryTitle, "Details", "Category",  new { id = subcategory.SubcategoryTitle }, null)</td>
                }
            </tr>
        }
        </thead>
    </table>
</content>
