<div class="category-menu"> 
    <button type="button" class="category-toggler">
        Categories <span class="fas fa-angle-down"></span>
    </button>
    <ul class="category-group-list">
        <li>
            <button type="button" class="category-toggler">Mesa<span class="fas fa-angle-down"></span></button>
            <ul class="group-list">
                <li><a href="#">Vistiena</a></li>
                <li><a href="#">Kalakutiena</a></li>
                <li><a href="#">Jautiena</a></li>
                <li><a href="#">Kiauliena</a></li>
            </ul>
        </li>
        <li>
            <button type="button" class="category-toggler">Darzoves<span class="fas fa-angle-down"></span></button>
            @*data removed from button:  data-toggle="collapse" data-target=".navbar-collapse" *@
            <ul class="group-list">
                <li><a href="#">Agurkai</a></li>
                <li><a href="#">Pomidorai</a></li>
                <li><a href="#">Bulves</a></li>
                <li><a href="#">Svogunai</a></li>
            </ul>
        </li>
        <li>
            <button type="button" class="category-toggler">Vaisiai<span class="fas fa-angle-down"></span></button>
            <ul class="group-list">
                <li><a href="#">Obuoliai</a></li>
                <li><a href="#">Slyvos</a></li>
                <li><a href="#">Braskes</a></li>
                <li><a href="#">Kriauses</a></li>
            </ul>
        </li>
    </ul>
</div>

