@model Kibiriukas.Models.UserModel
@using Kibiriukas.Models
@{
    ViewBag.Title = "My User Account";
}

<h1>@ViewBag.Title</h1>
<p>Whole information about the user. Partial layout</p>
<p>@Model.FirstName</p>

