@using System.ServiceModel.Syndication
@using Kibiriukas.Models
@model ManipulateSubcategoryModel

@{
    ViewBag.Title = "Only way to do things is to do it";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<content>
    <h1>ViewBag.Title</h1>
    <div class="col-md-8">
        <section class="subcategoryDeletionForm">
            @using (Html.BeginForm("DeleteSubcategory", "Subcategory", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryTitle"), new {@class = "form-control", @id = "categoryDropDown"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.SubcategoryId, new SelectList(Model.Subcategories, "SubcategoryId", "SubcategoryTitle"), new {@class = "form-control", @id = "subcategoryDropDown"})
                    </div>
                </div>

            }
        </section>
    </div>
</content>

