@using System.Data.Entity.Core.Metadata.Edm


@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here is listed all users</h2>

<div class="container-fluid container">
    
    <div class="container">
        @foreach (var user in Model)
        {
            
            <ul class="table-responsive row">
                <li class="border row rrr"><p class="col">ID: </p><p class="col">@user.Id</p></li>@*zemai: action      controller   **@

                <li class="border flex-sm-row row list-group-horizontal-md"><p class="col">Name: </p><p class="col">@*@Html.ActionLink(user.FirstName, "UserDetails", "Home", new { id = user.Id }, null)*@</p></li>
                                                                                                @*Html.ActionLink(article.Title, 
                                                                                                "Login",  // <-- ActionMethod
                                                                                                "Item",   // <-- Controller Name
                                                                                                new { id = article.ArticleID }, // <-- Route arguments.
                                                                                                null  // <-- htmlArguments .. which are none
                                                                                                )*@
                
                
                
                
                
                

                

                @*If the target action requires a parameter, you can use an anonymous object to pass
                parameter values:   @Html.ActionLink(“View Movies”, “Index”, “Movies”, new { id= 1 })*@
                

                <li class="border flex-sm-row row list-group-horizontal-md"><p class="col">Lastname: </p><p class="col">@*@user.LastName*@</p></li>
                <li class="border flex-sm-row row list-group-horizontal-md"><p class="col">Email: </p><p class="col">@*@user.Email*@</p></li>

            </ul>

        }
    </div>
   
</div>