@model Kibiriukas.Models.User



<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User details</title>
</head>
<body>
    <div class="container-fluid">
        <tr>@Model.FirstName</tr>

    </div>
</body>
</html>